{% extends "base.html" %}

{% block title %}최근 토론 - 패스트뉴스{% endblock %}

{% block content %}
<div class="card" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
        <li class="list-group-item" id="{{comment.id}}">
            <a href="/debates/{{comment.debate.id}}" class="badge badge-dark">{{ comment.debate.name }}</a>
            {{ comment.created_at|date:'Y-m-d H:i:s' }}
            <a href="#{{comment.id}}">@{{comment.user.nickname}}</a>
            {{ comment.content }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
