{% extends "base.html" %}

{% block title %}패스트뉴스{% endblock %}

{% block content %}
<div class="table-responsive" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        {% for item in news %}
            <tr>
                <td>{{item.id}}</td>
                <td>
                    {% if category == 'news' %}
                        <span class="badge badge-dark">
                            {% if item.category == 'PO' %}
                                정치
                            {% elif item.category == 'EC' %}
                                경제
                            {% elif item.category == 'SO' %}
                                사회
                            {% elif item.category == 'LI' %}
                                생활/문화
                            {% elif item.category == 'WO' %}
                                세계
                            {% elif item.category == 'IT' %}
                                IT/과학
                            {% endif %}
                        </span>
                    {% endif %}
                    <a href="/news/{{item.id}}">{{item.title}}</a>
                </td>
                <td>{{item.reporter.nickname}}</td>
                <td>{{item.created_at|date:'Y-m-d H:i:s'}}</td>
                <td>{{item.views}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
